<!DOCTYPE html>
<html>
<head>
    <title>Editable Form</title>
</head>
<body>



<form id="editableForm">
    <label for="name">Firstname:</label>
    <input type="text" id="firstname" value="{{firstname}}" readonly><br><br>
    
    <label for="age">Lastname:</label>
    <input type="text" id="lastname" value="{{lastname}}" readonly><br><br>
</form>


</body>
</html>
